:root {
    --color-primery: #212121;
    --color-secondary: #757575;
    --color-action-primery: #2196f3;
    --color-light-primery: #fff;
    --color-light-secondary: #f5f4fa;
    --color-dark-secondary: #000000;
    --color-dark-primery: #2f303a;
    --color-action-secondary: #188ce8;
    --color-line: #ececec;
    --color-border: #eee;
    --color-icon: #afb1b8;
    --color-footer-icon: #ffffff1a;
    --color-overlay: rgba(47, 48, 58, 0.8);
    --color-backdrop: rgba(0, 0, 0, 0.2);
    --timing: cubic-bezier(0.4, 0, 0.2, 1);
}