.hero-section {
    padding: 118px 0;

    margin: 0 auto;
    background-color: var(--color-dark-primery);
    color: var(--color-light-primery);
    background-image: url(../images/header-480@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 1200px) {
        padding: 200px 0;
    }

    &__title {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding: 0;
        width: 360px;

        font-weight: 900;
        font-size: 26px;
        line-height: (42 / 26);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        @media screen and (min-width: 1200px) {
            width: 696px;
            font-size: 44px;
            line-height: (60 / 44);
        }
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        & {
            background-image: url(../images/header-480@2x.jpg);
        }
    }

    @media screen and (min-width: 768px) {
        & {
            background-image: url(../images/header-768@1x.jpg);
        }
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        & {
            background-image: url(../images/header-768@2x.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        & {
            max-width: 1600px;
            background-image: url(../images/header-1200@1x.jpg);
        }
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        & {
            background-image: url(../images/header-1200@2x.jpg);
        }
    }
}

.hero-section__button {
    padding: 10px 24px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms var(--timing);

    &:hover,
    &:focus {
        background-color: var(--color-action-secondary);
    }
}
