.page-footer {
        padding: 60px 0;
        background-color: var(--color-dark-primery);
}

.page-footer__container {
        display: flex;
}

.address {
        width: 231px;
}

.address__logo {
        margin-bottom: 20px;
}

.logo--light {
        color: var(--color-light-primery);
}

.list {}

.address-list {}

.address-list .item +.item {
        margin-top: 9px;
}

.address-list__item {}

.address-list__link {
        font-style: normal;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--color-light-primery);
        transition: color 250ms var(--timing);

        &:hover, &:focus {
            color: var(--color-action-primery);
        }
}

.address-list__link--translucent {
        color: rgba(255, 255, 255, 0.6);
}

.social-contact {
        margin-left: 70px;
}

.social-contact__title {
        margin-bottom: 20px;
        color: var(--color-light-primery);
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
}


// .social-list {
//         display: flex;
//         gap: 10px;
//         justify-content: center;
//         align-items: center;
// }

// .social-list__item {
//         width: 44px;
//         height: 44px;
// }

// .social-list__link {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 100%;
//         height: 100%;
//         border-radius: 50%;
//         fill: var(--color-light-primery);
//         background-color: var(--color-footer-icon);
//         transition: background-color 250ms var(--timing);

//         &:hover, &:focus {
//             background-color: var(--color-action-primery);
//         }
// }

// .social-list__icon {
//         width: 20px;
//         height: 20px;
// }


.subscribe {
        margin-left: 93px;
}

.subscribe__text {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-light-primery);
}

.subscribe-form {
        display: flex;
        justify-content: end;
}

.subscribe-form__input {
        padding-left: 16px;
        width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: inherit;
        color: var(--color-light-primery);
}

.subscribe-form__button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: 12px;
        width: 200px;
        height: 50px;

        font-weight: 700;
        font-size: 16px;
        line-height: calc(30 / 16);
        letter-spacing: 0.06em;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-form__icon {
        margin-left: 10px;
        fill: var(--color-light-primery);
}