.page-footer {
        padding: 60px 0;
        background-color: var(--color-dark-primery);
}

.page-footer__container {
        @media screen and (min-width: 1200px) {
                display: flex;
        }
}

.footer-tablet {
        @media screen and (min-width: 768px) {
                display: flex;
                justify-content: space-around;
                gap: 70px;
                align-items: baseline;
        }
}

.address {
        // width: 231px;
}

.address__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        @media screen and (min-width: 1200px) {
                justify-content: start;
        }
}

.logo--light {
        color: var(--color-light-primery);
}

.address-wrap {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 60px;

        @media screen and (min-width: 1200px) {
                margin-bottom: 0;
                // gap: 70px;
                text-align: start;
        }
}

.address-list .item + .item {
        margin-top: 9px;
}

.address-list__link {
        font-style: normal;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;

        color: var(--color-light-primery);
        transition: color 250ms var(--timing);

        &:hover,
        &:focus {
                color: var(--color-action-primery);
        }
}

.address-list__link--translucent {
        color: rgba(255, 255, 255, 0.6);
}

.social-contact {
        margin-bottom: 60px;

        @media screen and (min-width: 1200px) {
                margin-bottom: 0;
                padding-top: 2px;
        }
        // margin-left: 70px;
}

.social-contact__title {
        margin-bottom: 20px;
        color: var(--color-light-primery);
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;

        @media screen and (min-width: 1200px) {
                text-align: start;
        }
}

.subscribe {
        @media screen and (min-width: 1200px) {
                margin-left: auto;
                width: 570px;
        }
        // margin-left: 93px;
}

.subscribe__text {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        color: var(--color-light-primery);

        @media screen and (min-width: 1200px) {
                text-align: start;
        }
}

.subscribe-form {
        @media screen and (min-width: 1200px) {
                display: flex;
                justify-content: end;
        }
}

.subscribe-form__input {
        margin-bottom: 20px;
        padding-left: 16px;
        width: 100%;
        // width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: inherit;
        color: var(--color-light-primery);

        @media screen and (min-width: 768px) {
                width: 450px;
                margin-left: 151px;
                margin-right: 137px;
        }

        @media screen and (min-width: 1200px) {
                margin-left: 0;
                margin-right: 12px;
                width: 358px;
        }
}

.subscribe-form__button {
        display: flex;
        // display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        // margin-left: 12px;
        width: 200px;
        height: 50px;

        font-weight: 700;
        font-size: 16px;
        line-height: calc(30 / 16);
        letter-spacing: 0.06em;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-form__icon {
        margin-left: 10px;
        fill: var(--color-light-primery);
}
